<div class="center">
  <div class="container" id="container" #container>
    <div class="form-container sign-up-container">
      <form [formGroup]="signupForm" (submit)="authenticate()">
        <h1>Sign Up</h1>
        <span>use your email for registration</span>
        <div style="width: 100%">
          <validation-message [control]="signupForm.controls['email']"></validation-message>
          <input type="email" placeholder="Email" name="email" formControlName="email" />
        </div>
        <div style="width: 100%;">
          <validation-message [control]="signupForm.controls['password']"></validation-message>
          <input type="password" placeholder="Password" name="password" formControlName="password"/>
        </div>
        <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="signinForm" (submit)="authenticate()">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <div style="width: 100%">
          <validation-message [control]="signinForm.controls['username']"></validation-message>
          <input id="username" type="email" placeholder="Username" name="username" formControlName="username"/>
        </div>
        <div style="width: 100%">
          <validation-message [control]="signinForm.controls['password']"></validation-message>
          <input id="password" type="password" placeholder="Password" name="password" formControlName="password"/>
        </div>
        <a href="#">Forgot your password?</a>
        <button type="submit" [disabled]="!signinForm.valid">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button (click)="signin()" class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button (click)="signup()" class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
